unbind ^J main
unbind M-J main
unset backup
set autoindent
set cutfromcursor
set multibuffer
set nohelp
set nowrap
set regexp
set suspend

## you may uncomment below for python, or run nano with option '-ET4'
# set tabsize 4
# set tabstospaces
